body	{
	background-color: #F9efe9;
	background-repeat: no-repeat,repeat;
	font-family: fantasy;
	font-size: 30px;
	font-weight: bold;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}




